beautifulsoup4~=4.12.3
fake_useragent~=1.5.1
numpy~=1.26.0
pandas~=2.2.2
plotly~=5.22.0
pre-commit~=3.7.1
pytest~=8.2.2
requests~=2.32.3
ruff~=0.4.9
selenium~=4.22.0
setuptools~=68.2.2
streamlit~=1.36.0
undetected-chromedriver~=3.5.5
webdriver-manager~=4.0.1